.popover {
    display: none;
    z-index: 1055 !important;
}

/* Adds back missing xs button size */
.btn-xs,
.btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-social-icon.btn-xs {
    height: 22px;
    width: 22px;
    padding-left: 0;
    padding-right: 0;
}

.btn-social-icon.btn-xs {
    padding-left: 30px;
}

.btn-social-icon.btn-xs > :first-child {
    line-height: 20px;
    width: 20px;
    font-size: 1.2em;
}